/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap");

.app {
  font-family: "Kumbh Sans", sans-serif;
  /* background-color: aliceblue; */
  /* min-height: 100vh; */
}

.center {
  margin: 100px auto;
  width: 70%;
  border: 3px solid darkgrey;
  border-radius: 10px;
  padding: 20px;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}